/* Variables */
:root {
  --black: #6d4d30;
  --white: #fffffe;

  --black-hsl: 0, 0%, 0%;
  --white-hsl: 0, 0%, 100%;

  --pageBG: #fffffe;
  --pageText: #6d4d30;

  --pageBG-hsl: 60, 14%, 95%;
  --pageText-hsl: 0, 0%, 0%;
}

[data-theme='dark'] {
  --pageBG: #6d4d30;
  --pageText: #fffffe;

  --pageBG-hsl: 0, 0%, 0%;
  --pageText-hsl: 60, 14%, 95%;
}

